.cell {
  height: 6.25rem;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid rgb(255, 255, 255, 0);
  border-radius: 1px;
}

.cell-planet {
  height: 2.25rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid rgb(255, 255, 255, 0);
  border-radius: 1px;
  border-color: rgb(255, 255, 255, 0);
  background-color: rgb(255, 255, 255, 0);
}

.active {
  color: white;
  border-bottom: 0.2rem solid rgb(255, 255, 255);
  border-radius: 1px;
}

.cell:not(.active):hover {
  border-bottom: 0.2rem solid rgb(255, 255, 255, 0.5);
  border-radius: 1px;
}

.cell-planet:not(.active):hover {
  border-bottom: 0.2rem solid rgb(255, 255, 255, 0.5);
  border-radius: 1px;
}

@media screen and (max-width: 768px) {
  .cell {
    cursor: pointer;
    display: flex;
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }
}
