.div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 830px;
  height: inherit;
  right: 0;
}

.blur {
  background: rgba(194, 194, 194, 0.1);
  position: absolute;
  backdrop-filter: blur(5px);
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  position: absolute;
  left: calc(50% - 515px / 2 - 45px);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .div {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: flex-start;
  }

  .blur {
    background: rgba(90, 90, 90, 0.2);
    position: absolute;
    backdrop-filter: blur(15px);
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2px;
  }

  .items {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    align-self: center;
    z-index: 1000;
    left: calc(5%-10px / 2 -10px);
    left: 5%;
    top: 15vh;
  }
}

@media screen and (max-width: 1280px) {
  .items {
    width: 500px;
    left: auto;
    position: relative;
  }
  .div {
    width: 600px;
  }
}
