.content {
  position: absolute;
  width: 450px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 10%;
  top: 15vh;
  margin-bottom: 100px;
}

@media screen and (max-width: 1280px) {
  .content {
    position: relative;
    margin: 0 auto 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 0%;
    top: 5vh;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 450px;
    width: 100%;
  }
  .paragraph {
    margin: 0 8px 0;
  }
}
